@CHARSET "ISO-8859-1";
/*------main content-----*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Just+Another+Hand);
#page_content{
	padding:0 0 20px 0;
}
#hight_manager{

	height:30%
}

#header_right
{
	font-size:5mm;
	float: right;
}

.btn-custom-yellow{
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);

	background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
	background-image:      -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#eb9316));
	background-image:         linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #e38d13;
}


.btn-custom-yellow:hover,
.btn-custom-yellow:focus {
	background-color: #eb9316;
	background-position: 0 -15px;
}
.btn-custom-yellow {
	color: #fff;
	background-color: #ffd519;
	border-color: #eea236;
}
.btn-custom-yellow:hover,
.btn-custom-yellow:focus,
.btn-custom-yellow:active,
.btn-custom-yellow.active,
{
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512;
}


.color-gray{
	background-color: gray;
}

.color-turquoise{
	background-color: #1abc9c;
}

.color-blue{
	background-color: blue;
}
.color-white{
	background-color: white;
	color: black;
	border-color: black;
	border-width: 1px;

}
.fontthin{
	font-family: 'Raleway', san-serif;
	font-weight:100;
}
.fontregular{
	font-family: 'Raleway', san-serif;
	font-weight:400;
}
.fontmedium{
	font-family: 'Raleway', san-serif;
	font-weight:500;
}
.fontsemi{
	font-family: 'Raleway', san-serif;
	font-weight:600;
}
.fontbold{
	font-family: 'Raleway', san-serif;
	font-weight:700;
}
.fontextra{
	font-family: 'Raleway', san-serif;
	font-weight:800;
}
.fontcursive{
	font-family: 'Just Another Hand', cursive;
	font-size: 28px;
	color: #999598;
	word-spacing: 7px;
}

.hero #cafe {
	  width: 100%;
	  display: inline-block;
	  vertical-align: middle;
	  font: 0/0 serif;
	  text-shadow: none;
	  color: transparent;
	  background-size: 100%;
	  background-position: 50% 50%;
	  background-repeat: no-repeat;
  }

#left_section{
	height:auto;
	float:left;
	/*-background:url(images/top_left_corner.gif) no-repeat top left;*/
}

/* codes for feedback icon*/
.sharing-container {
	position: fixed;
	top: 30%;
	right: 0;
	display: inline-block;
	margin: 0;
	padding: 0;
	z-index: 11100;
	overflow: hidden;
	width: 50px;
	cursor: pointer;
}

.scrolling-container {
	position: fixed;
	top: 40%;
	right: 0;
	display: inline-block;
	margin: 0;
	padding: 0;
	z-index: 11100;
	overflow: hidden;
	width: 50px;
	cursor: pointer;
}

.scrolling-container1 {
	position: fixed;
	top: 70%;
	right: 0;
	display: inline-block;
	margin: 0;
	padding: 0;
	z-index: 11100;
	overflow: hidden;
	width: 50px;
	cursor: pointer;
}

.bullts{
	list-style-image: url('circle9.png');
}
.active1{
	list-style-image: url('circle9solid.png');
}

.visibleclass{
	visibility: visible;
}

.hiddenclass{
	visibility: hidden;
}

.negmargin{
	margin-bottom: -15px;
	margin-top: -15px;
}

/* .page-scroll
	{
	margin-bottom: 10px;
	}
 */
.signupbtnscroll {

	position: fixed;
	top: 1%;
	z-index: 11100;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
	right: 100px;
}

.btn-index {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cbd95', endColorstr='#4cbd95', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-width:1px;
	border-color: rgba(255,255,255,0.8);
	border-radius: 4px;
	background-color: rgba(99,99,107,0.15);
}
.btn-index:hover,
.btn-index:focus {
	border-width:2px;
	border-color: rgba(255,255,255,0.9);
	background-color: rgba(220,188,40,0.9);
}
.btn-top {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cbd95', endColorstr='#4cbd95', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-width:2px;
	border-color: rgba(255,255,255,0.3);
	border-radius: 4px;
	background-color: rgba(255,255,255,0.1);
	padding-bottom: 5px;
	padding-top: 5px;
}
.btn-top:hover,
.btn-top:focus {
	border-width:1px;
	border-color: rgba(255,255,255,0.9);
	background-color: rgba(220,188,40,0.9);
}
.btn-signup {
	background-image: -webkit-linear-gradient(top,#c2c2c1 0,#c2c2c1 100%);
	background-image: -o-linear-gradient(top,#c2c2c1 0,#c2c2c1 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#c2c2c1),to(#c2c2c1));
	background-image: linear-gradient(to bottom,#c2c2c1 0,#c2c2c1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2c2c1', endColorstr='#c2c2c1', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-color: #c2c2c1;
	border-radius: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #c2c2c1;
	height: 60px;
	color: #63636b;
}

.btn-signup-change {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdc3c7', endColorstr='#bdc3c7', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #bdc3c7;
	border-radius: 5px;
	padding-bottom: 2px;
	padding-top: 2px;

}

.btn-signup-small {
	background-image: -webkit-linear-gradient(top,#4cbd95 0,#4cbd95 100%);
	background-image: -o-linear-gradient(top,#4cbd95 0,#4cbd95 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4cbd95),to(#4cbd95));
	background-image: linear-gradient(to bottom,#4cbd95 0,#4cbd95 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cbd95', endColorstr='#4cbd95', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #dcdbd4;
	border-radius: 0px;
	padding-bottom: 2px;
	padding-top: 2px;
	border-width:1px;
}


.btn-signup:hover,
.btn-signup:focus {
	color:#535353;
	border-color: #a2a2a2;
	background-color: #57d2a7;
	background-position: 0 -15px;
	background-repeat: repeat;
}

.btn-green {
	background-image: -webkit-linear-gradient(top,#77be60 0,#77be60 100%);
	background-image: -o-linear-gradient(top,#77be60 0,#77be60 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#77be60),to(#77be60));
	background-image: linear-gradient(to bottom,#77be60 0,#77be60 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77be60', endColorstr='#77be60', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #77be60;
	border-radius: 0px;
	padding-bottom: 2px;
	padding-top: 2px;
	margin-top: 4px;
}
.btn-green:hover,
.btn-green:focus {
	border-color: #77be60;
	border-radius: 0px;
	background-color: #77be60;
	background-position: 0 -15px;
	background-repeat: repeat;
}

.btn-gray {
	background-image: -webkit-linear-gradient(top,#7f8c8d 0,#7f8c8d 100%);
	background-image: -o-linear-gradient(top,#7f8c8d 0,#7f8c8d 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#7f8c8d),to(#7f8c8d));
	background-image: linear-gradient(to bottom,#7f8c8d 0,#7f8c8d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f8c8d', endColorstr='#7f8c8d', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #7f8c8d;
	border-radius: 0px;
	padding-bottom: 6px;
	padding-top: 6px;
	margin-top: 4px;
}
.btn-gray:hover,
.btn-gray:focus {
	background-color: #7f8c8d;
	background-position: 0 -15px;
	background-repeat: repeat;
}
.btn-gender {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f8c8d', endColorstr='#7f8c8d', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #d3d3d3;
	background-color: #d3d3d3;
	border-radius: 0px;
	padding-bottom: 6px;
	padding-top: 6px;
	margin-top: 4px;
	color: #63636b;
}
.btn-gender:hover,
.btn-gender:focus {
	color:#fff;
	background-color: #7f8c8d;
	background-position: 0 -15px;
	background-repeat: repeat;
}
.btn-gender.active
{
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #63636b;
	background-color: #ffda28;
	border-color: #ffda2d;
}
.btn-confirm {
	background-image: -webkit-linear-gradient(top,#63636b 0,#63636b 100%);
	background-image: -o-linear-gradient(top,#63636b 0,#63636b 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#63636b),to(#63636b));
	background-image: linear-gradient(to bottom,#63636b 0,#63636b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63636b', endColorstr='#63636b', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #63636b;
	border-radius: 0px;
	padding: 5px 40px;
	margin-top: 4px;
}
.btn-confirm:hover,
.btn-confirm:focus {
	background-color: #bbbbbb;
	background-position: 0 -15px;
	background-repeat: repeat;
}
.btn-driver {
	background-image: -webkit-linear-gradient(top,#353333 0,#353333 100%);
	background-image: -o-linear-gradient(top,#353333 0,#353333 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#353333),to(#353333));
	background-image: linear-gradient(to bottom,#353333 0,#353333 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353333', endColorstr='#353333', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #353333;
	border-radius: 0px;
	padding: 1px;
	margin-top: 4px;
	height: 30px;
}
.btn-driver:hover,
.btn-driver:focus {
	background-color: #7f8c8d;
	background-position: 0 -15px;
	background-repeat: repeat;
}
.lable-driver {
	background-image: -webkit-linear-gradient(top,#353333 0,#353333 100%);
	background-image: -o-linear-gradient(top,#353333 0,#353333 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#353333),to(#353333));
	background-image: linear-gradient(to bottom,#353333 0,#353333 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353333', endColorstr='#353333', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #353333;
	border-radius: 0px;
	padding: 1px;
	margin-top: 4px;
	height: 30px;
}
.lable-driver:hover,
.lable-driver:focus {
	background-color: #353333;
	background-position: 0 -15px;
	background-repeat: repeat-x;
	border-color: #353333;
	border-radius: 0px;
	cursor: default;
}

/*

.btn-signup:hover,
.btn-signup:focus,
.btn-signup:active,
.btn-signup.active,
 {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}

*/.table-container{
	  margin-left:125px;
	  padding: 0;

	  overflow: hidden;
	  width: 900px;}


.marg{
	margin: 10px;
}


.center{
	text-align: center;
}

.topbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ebebeb), color-stop(1, #c9c7c9) );
	background:-moz-linear-gradient( center top, #ebebeb 5%, #c9c7c9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#c9c7c9');
	background-color:#ebebeb;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:auto;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.topbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c9c7c9), color-stop(1, #ebebeb) );
	background:-moz-linear-gradient( center top, #c9c7c9 5%, #ebebeb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9c7c9', endColorstr='#ebebeb');
	background-color:#c9c7c9;
}.topbutton:active {
	 position:relative;
	 top:1px;
 }
/* This button was generated using CSSButtonGenerator.com */

/*=====================================================
	this is for the progress bar
	=================================================*/

.booking-inprocess{
	background-color: #ffd519;
	border-style: solid;
	border-color: #ffd519;
	border-width: 2px;
	border-right-width:0px
color: #7f8c8d;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	padding: 7.5px;
	box-shadow: 5px 5px 5px #999999;
}

.booking-sucess{
	background-color:	#63636b ;
	color: #ecf0f1;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	border-width:1px;
	border-left-width:0px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	padding: 8.5px;
	border-style: solid;
	border-color: #ecf0f1;
}

.booking-pending{
	background-color: #CFCFCF;
	border-style: solid;
	border-color: #B2B2B2;
	border-width:1px;
	border-left-width:0px;
	color: #B2B2B2;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	padding: 8.5px;
}

.bars{
	color: #ecf0f1;
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
	height: 50px
}

.topbar{
	background-color: transparent;
}

.topbar1{
	background-color: transparent;
}

.baseHeader{
	color: #ffffff;
	font-family: 'Raleway',  sans-serif;
	font-weight: 700;
}
.topalign{
	margin-top: 14px;
}

.baseHeader:hover{
	cursor: pointer;
	color: #ffda2d;
}

.selectbtn {
	background-color : transparent;
	border: solid;
	border-color: yellow;
	border-top-width:2px;
	line-height: 1.2;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
	color: #ffffff;

	font-weight: bold;
}

.selectbtn:hover
{
	color: #ffda2d;
	cursor: pointer;
}

.selectbtn1 {
	background-color : transparent;
	border: solid;
	border-color: yellow;
	border-top-width:2px;
	line-height: 1.2;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
	color: #ffffff;

	font-weight: bold;
}

.selectbtn1:hover
{
	color: #ffda2d;
	cursor: pointer;
}


.selectbtnbg{
	border: 1px solid #ffffff;
	margin-top:5px;
}
.selectbtnbg:hover{
	border: 1px solid #ffda2d;
	margin-top:5px;
}
.boxcontainer{
	position:relative;
	width: 100%;
	height: 612px;
	overflow: hidden;
}
.serviceworks{
	width: 100%;
	height: 612px;

	z-index:6;
	position: absolute;
	float: left;

}
.servicecharge{
	width: 100%;
	height: 612px;
	left: 105%;
	z-index:6;
	position: absolute;
	float: left;

}
.onboard{
	width: 100%;
	height: 612px;
	left: 204%;
	z-index:6;
	position: absolute;
	float: left;

}
.howitworksbtn{
	position: absolute;
	z-index: 9;
	top: 84%;
	left: 0;
	width: 100%
}
.howdiv{
	float:left;
	width: 33%;
	height: 50px;
}
.fbimg{
	margin-top: 10px;


}

.twitterimg{

	margin-top: 7px;
}

.inputevent{
	margin-bottom: 10px;
	width: 100%;
}

.marginplus{
	margin-bottom:40px;
	margin-top:20px;
}

.sec1 {
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	background-color: #4d4d4d;
	padding-top: 50px;
	background-image: url("../../../staticWeb/static/images/shutterstock_155347391.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*transition: background-image 4s linear;*/
	-webkit-transition: all 2000ms cubic-bezier(0.150, 0.160, 0.585, 0.110);
	-moz-transition: all 2000ms cubic-bezier(0.150, 0.160, 0.585, 0.110);
	-o-transition: all 2000ms cubic-bezier(0.150, 0.160, 0.585, 0.110);
	transition: all 2000ms cubic-bezier(0.150, 0.160, 0.585, 0.110); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.150, 0.160, 0.585, 0.110);
	-moz-transition-timing-function: cubic-bezier(0.150, 0.160, 0.585, 0.110);
	-o-transition-timing-function: cubic-bezier(0.150, 0.160, 0.585, 0.110);
	transition-timing-function: cubic-bezier(0.150, 0.160, 0.585, 0.110); /* custom */
}

.sec1-backImage1 {
	background-image: url("../../../staticWeb/static/images/shutterstock_292639718.jpg");
	/*transition: background-image 4s linear;*/
	-webkit-transition: all 2000ms cubic-bezier(0.150, 0.160, 0.585, 0.110);
	-moz-transition: all 2000ms cubic-bezier(0.150, 0.160, 0.585, 0.110);
	-o-transition: all 2000ms cubic-bezier(0.150, 0.160, 0.585, 0.110);
	transition: all 2000ms cubic-bezier(0.150, 0.160, 0.585, 0.110); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.150, 0.160, 0.585, 0.110);
	-moz-transition-timing-function: cubic-bezier(0.150, 0.160, 0.585, 0.110);
	-o-transition-timing-function: cubic-bezier(0.150, 0.160, 0.585, 0.110);
	transition-timing-function: cubic-bezier(0.150, 0.160, 0.585, 0.110); /* custom */
}
.sec1-backImage2 {
	background-image: url("../../../staticWeb/static/images/shutterstock_426494686.jpg");
	/*transition: background-image 4s linear;*/
	-webkit-transition: all 2000ms cubic-bezier(0.150, 0.160, 0.585, 0.110);
	-moz-transition: all 2000ms cubic-bezier(0.150, 0.160, 0.585, 0.110);
	-o-transition: all 2000ms cubic-bezier(0.150, 0.160, 0.585, 0.110);
	transition: all 2000ms cubic-bezier(0.150, 0.160, 0.585, 0.110); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.150, 0.160, 0.585, 0.110);
	-moz-transition-timing-function: cubic-bezier(0.150, 0.160, 0.585, 0.110);
	-o-transition-timing-function: cubic-bezier(0.150, 0.160, 0.585, 0.110);
	transition-timing-function: cubic-bezier(0.150, 0.160, 0.585, 0.110); /* custom */
}

.sec2a {
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	background-color: #fff;
	padding-top: 30px;
	color: #1e1e1e;
	/*background-image: url("../images/SecondPageBG.jpg");*/
	background-repeat: no-repeat;
}

.sec2a-bg-img{
	position: absolute;
	z-index: 0;
	width: 100%;
}

.sec2b {
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	background-color: #1e1e1e;
	padding-top: 100px;
}

.sec3 {
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	background-color: #1e1e1e;
	padding-top: 30px;
	padding-bottom: 30px;
}

.sec4 {
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	background-color: #e3e3e3;
	padding-top: 30px;
}
.sec4a {
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	background-color: #ffdb2d;
	padding-top: 30px;
}

.sec5 {
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	background-color: #ffffff;
	padding-top: 30px;
	color: #1e1e1e;
}

.sec6 {
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	background-color: #1e1e1e;
	padding-top: 30px;
	color: #fff;
}
.sec7 {
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	background-color: rgb(255,255,0);
	opacity: 0.8;
	padding-top: 30px;
	color: #1e1e1e;
}

.popit{
	background-color: #dfdfe0;
	width: 500px;
	padding: 0px;
}

.popupbar
{
	background-color: #54545c;
	color: #f5f5f6;
	padding: 10px;
	margin-bottom: 20px;
}

.tbl-cust{
	border: none;
	margin-bottom: 20px;
}


/*//for the popup element*/
#element_to_pop_up {
	background-color:#fff;
	border-radius:15px;
	color:#000;
	display:none;
	padding:20px;
	min-width:400px;
	min-height: 180px;
}
.b-close-css{
	cursor:pointer;
	position:absolute;
	right:10px;
	top:5px;
	color: #ffffff;
}

.selectcity{
	background-color: #000000;
	color: #ffffff;
	font-size: 24px;
	border-color: #ffffff;

}

.content_1stpg{
	position: relative;
	height: 330px;
}

.city{
	font-size: 20px;
	font-family: 'Raleway', san-serif;
	font-weight:900;
	color: #ffffff;
}


.tagline{
	margin-top:20px;
	font-size: 12px;
	font-family: 'Raleway', san-serif;
	font-weight:300;
	color: #ffffff;

}

.pg1body{
	margin-top:30px;
	color: #ffffff;
}
.registeration_form{
	margin-top: 40px;
}
.headline{
	margin-top:45px;
	font-family: 'Raleway', Sans-Sarif;
	font-weight:300;
	color: #ffffff;
}

/* .comingsoon{
	font-size: 26px;
	font-family: 'Raleway', san-serif;
	font-weight:400;
	color: #ffffff;
	
} */
.thankyoumsg{
	font-size: 22px;
	font-family: 'Raleway', san-serif;
	font-weight:500;
	color: #ffffff;
}
.signup{
	font-size: 17px;
	font-family: 'Raleway', san-serif;
	font-weight:400;
	color: #ffffff;
	padding: 4px;
}
.indexbtn{
	font-size: 22px;
	color: #ffffff;
	padding: 3px;
}
.signup2{
	color: #ffffff;
	padding: 6px 90px;
}

.howbtn{
	font-size: 16px;
	font-family: 'Raleway', san-serif;
	font-weight:400;
	color: #ffffff;
	padding:13px;
}
.contactbtn{
	font-family: 'Raleway', san-serif;
	font-weight:400;
	color: #b;
	padding:7px 30px 7x 30px;
}
.pricingbtn{
	font-size: 22px;
	font-family: 'Raleway', san-serif;
	font-weight:400;
	color: #ffffff;
	padding: 2px;
	border-width: 1px;
	border-radius: 8px;
}
.topbar-btn{
	font-size: 18px;
	font-family: 'Raleway', san-serif;
	font-weight:400;
	color: #ffffff;
	padding: 5px;
}

.signuptop{
	font-size:20px;
	font-family: 'Raleway', san-serif;
	font-weight:400;
	color: #ffffff;
}
.statepg2{
	margin-bottom: 30px;
	color: #ffffff;
	font-size: 24px;
	font-family: 'Raleway',san-serif;
	font-weight:700;
	padding: 0px;
}
.pg2maptilt{
	color: #d7d7d7;
	font-size: 16px;
	font-family: 'Raleway',san-serif;
	font-weight: 400;
}


.pg2body{
	font-size: 24px;
	font-family: 'Raleway', san-serif;
	font-weight:500;
	color: #fffde8;
}

.placepg1{
	color: #ffffff;
	font-size: 30px;
	font-family: 'Raleway', san-serif;
	font-weight:500;
}



.pg3header{
	font-size: 36px;
	font-family: 'Raleway', san-serif;
	font-weight:900;
	color: #000000;
}

.pg3body{
	font-size: 24px;
	font-family: 'Raleway', san-serif;
	font-weight:500;
	color: #616057;
}

.pg4header{
	font-size: 36px;
	font-family: 'Raleway', san-serif;
	font-weight:900;
	color: #ffda2d;
}
.simplefarepg4{
	font-family: 'Raleway', san-serif;
	font-weight:600;
	color: #63636b;
}

.notclearpg4{
	font-family: 'Raleway', san-serif;
	font-weight:400;
	color: #303233;
	margin-top: 100px;
}
.textpg4{
	color: #303233;
	font-size: 28px;
	font-family: 'Raleway', san-serif;
	font-weight: 500;
}
.contpg4{
	color: #303233;
	font-size: 24px;
	font-family: 'Raleway', san-serif;
	font-weight: 500;
}

.footer1 {
	font-size: 14px;
	font-family: 'Raleway', san-serif;
	font-weight:400;
	height: 100px;
	margin-top: 0px;
	width: 100%;
	position: relative;
	background-color: #1e1e1e;
	color: #fffde8;
	padding-top: 14px;

}
.no_driver{
	position:absolute;
	font-size:150px;
	color: #ffffff;
	font-family: 'Raleway', san-serif;
	font-weight: 300;
	top: 0%;
	left: 29%;
}

.name_driver{
	position:absolute;
	font-size: 36px;
	color: #ffffff;
	font-family: 'Raleway', san-serif;
	font-weight: 400;
	top: 58%;
	left: 37%;
}
@media(max-width: 991px){
	.no_driver{
		position:absolute;
		font-size:150px;
		color: #ffffff;
		font-family: 'Raleway', san-serif;
		font-weight: 300;
		top: 0%;
		left: 24%;
	}

	.name_driver{
		position:absolute;
		font-size: 36px;
		color: #ffffff;
		font-family: 'Raleway', san-serif;
		font-weight: 400;
		top: 58%;
		left: 29%;
	}
}
.circlesvg{
	position: absolute;
	top:1%;
	left:13%;
}
.signup-change{
	color: #bdc3c7;
}

.nullmargin{
	margin-bottom: 0px;
}
.nullmargin-all{
	margin: 0px;
}
.nullmargin-right{
	margin-right: 0px;
}
.nullmargin-left{
	margin-left: 0px;
}

.visible{
	visibility: visible;

}

.msg{
	visibility: hidden;
}
.editcustom{
	opacity: 0;
}

.editcustom:hover{
	opacity: 1;
}
/* top illustrator for booking process*/
.font_size_16{
	font-size: 14px;
	color: #bababa;
}

.unitsize1of6{
	width: 15%;
	height: 10px;
}
.unitsize1of3{
	width: 33%;
	list-style-type: none;

}
.pickup{
	background: url("../../../staticWeb/static/images/circle_itenary.png");
	background-repeat: no-repeat;
	height: 22px;
	width: 30px;
	margin-top: 0px;
	text-align: center;
	display: inline-block;
}
.drop{
	background: url("../../../staticWeb/static/images/circle_itenary.png");
	background-repeat: no-repeat;
	height: 22px;
	width: 30px;
	margin-top: 0px;
	text-align: center;
	display: inline-block;
}

li.u1 span{
	position: absolute; left: -9999px;
	margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
	border-style:solid; border-color:black; border-width:1px; z-index: 6;
}
li.u1:hover span {
	left: 2%; background: #ffffff;
}
li.u1:hover span {
	margin: 20px 0 0 170px; background: #ffffff; z-index:6;
}

.processchart{
	background: none;
	background-repeat: no-repeat;
	height: 22px;
	margin-top: 11px;
	display: inline-block;
	margin-left:-30px;
}

span.dropt span {
	position: absolute; left: -9999px;
	margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
	border-style:solid; border-color:black; border-width:1px; z-index: 6;
}
span.dropt:hover span {
	left: 2%; background: #ffffff;
}
span.dropt:hover span {
	margin: 20px 0 0 170px; background: #ffffff; z-index:6;
}
.paddingcorrection20{
	padding-left: 30px;
	padding-right: 20px;

}
.paddingcorrection20right{
	padding-right: 20px;
}
.custominput{
	height: 60px;
	font-size: 20px;
	font-family: 'Raleway', san-serif;
	font-weight:400;
	border-radius: 0px;
}
.custominput_adddetails{
	height: 40px;
	font-size: 18px;
	font-family: 'Raleway', san-serif;
	font-weight:400;
	border-radius: 0px;
	color: #63636b;
	background-color: #d3d3d3;
}
.custominput_date{
	height: 25px;
	border-radius: 0px;
}
.usertopbar{
	margin: 0;
	background-color: #d3d3d3;
	height: 40px;
}
.infotab{
	border-style: none;
	margin-top: 5px;
	cursor: pointer;
	background-color: #d3d3d3;
	height: 30px;
	padding: 5px;
	font-size: 16px;
	color: #63636b;
}
.itinerarytab{
	border-style: none;
	margin-top: 5px;
	cursor: pointer;
	background-color: #63636b;
	height: 30px;
	padding: 5px;
	font-size: 16px;
	color: #ffffff;
}
.Tripinfo,
.basicinfo{
	border-style: solid;
	border-width: 1px;
	border-color: #f4f4f4;
	display: block;
	background-color: #f4f4f4;
}
.illustration{
	height: 240px;
	background-color: #f4f4f4;
	padding: 13px 20px;
}
.illustration ul{
	margin-bottom: 0px;
}
.row-padding{
	padding-left:8px;
}
.down_wrapper{
	z-index: 99;
	position: absolute;
	right:49%;
	top:90%;
	height:18px;
	-webkit-animation-name: floatBubble;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-name: floatBubble;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}


@-webkit-keyframes floatBubble{
	0% {
		top: 740px;
		-webkit-animation-timing-function: ease-in;
	}

	50% {
		top: 752px;
		-webkit-animation-timing-function: ease-out;
	}

	100% {
		top: 740px;
		-webkit-animation-timing-function: ease-in;
	}
}
@keyframes floatBubble {
	0% {
		top: 740px;
		-webkit-animation-timing-function: ease-in;
	}

	50% {
		top: 752px;
		-webkit-animation-timing-function: ease-out;
	}

	100% {
		top: 740px;
		-webkit-animation-timing-function: ease-in;
	}
}
.down_wrapper1{
	position: absolute;
	right:49%;
	top:90%;
	z-index: 999;
}
.down_wrappersec2{
	position: absolute;
	right:52%;
	top:90%;
}
.boxcontainer_temp{
	width: 100%;
	/* height: 612px; */
	overflow: hidden;
	/* background-color: url("static/images/.png"); */
}
.demoBtn{
	position: absolute;
	left: 40%;
	top: 101%;
}
.tablecust{
	margin-bottom: 200px;
}
.tablecust th{
	border-bottom: solid;
	border-bottom-width: 1px;
	padding: 15px 0px;
}
.tablecust td{
	border-bottom: solid;
	border-bottom-width: 1px;
	padding: 15px 20px;
}
.close
,.close1{
	position: absolute;
	cursor: pointer;
	color: #1e1e1e;
	font-size: 16px;
}
.close:HOVER{
	color:red;
}
.close{
	top:2%;
	right:2%;
}
.contactElement{
	position: fixed;
	right: 0%;
	bottom: 0%;
	color: #fff;
	z-index: 9;
	background-color: rgba(30,30,30,0.8);
	font-size: 19px;
}
@media (max-width: 480px){
	.fontSize24{
		font-size: 18px;
	}
	.fontSize20{
		font-size: 14px;
	}
	.fontSize18{
		font-size: 12px;
	}
	.fontSize16{
		font-size: 10px;
	}
	.fontSize30{
		font-size: 24px;
	}
}

@media (min-width: 479px){
	.fontSize24{
		font-size: 18px;
	}
	.fontSize20{
		font-size: 14px;
	}
	.fontSize18{
		font-size: 12px;
	}
	.fontSize16{
		font-size: 10px;
	}
	.fontSize30{
		font-size: 24px;
	}
}

@MEDIA (min-width: 768px) {
	.fontSize24{
		font-size: 20px;
	}
	.fontSize20{
		font-size: 16px;
	}
	.fontSize18{
		font-size: 14px;
	}
	.fontSize16{
		font-size: 12px;
	}
	.fontSize30{
		font-size: 26px;
	}
}
@media (min-width: 992px){
	.fontSize24{
		font-size: 22px;
	}
	.fontSize20{
		font-size: 18px;
	}
	.fontSize18{
		font-size: 16px;
	}
	.fontSize16{
		font-size: 14px;
	}
	.fontSize30{
		font-size: 28px;
	}
}
@media (min-width: 1200px) {
	.fontSize36{
		font-size: 36px;
	}
	.fontSize26{
		font-size: 26px;
	}
	.fontSize24{
		font-size: 24px;
	}
	.fontSize20{
		font-size: 20px;
	}
	.fontSize18{
		font-size: 18px;
	}
	.fontSize16{
		font-size: 16px;
	}
	.fontSize30{
		font-size: 30px;
	}
}

.text-underline {
	text-decoration: underline;
}

.null-box-shadow {
	box-shadow: none;
}

.box-shadow {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.hide-on-scroll {
	visibility: inherit;
	opacity: 1;
}

.jumbotron-custom .col-xs-10 p {
	font-size: 14px;
	font-family: 'Raleway', san-serif;
	font-weight:400;
}

.jumbotron-custom {
	padding: 10px 10px !important;
}

@media (min-width: 992px) {
	.custom-md-4 {
		width: 32.33333333%;
	}
	.custom-offset-md-4 {
		width: 32.33333333%;
		margin-left: 1.33333333%;
	}
}

@media (max-width: 1201px) {
	.custom-nav-container {
		margin-top: 0;
	}

	.custom-nav-logo {
		display: none;
	}
}

@media (min-width: 1200px) {
	.custom-nav-container {
		margin-top: 40px;
	}

	.custom-nav-logo {
		padding: 0;
		margin-top: -35px;
		display: block;
	}
}

